name: Continuous Integration

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

jobs:
  test:
    env:
      MIX_ENV: test
    runs-on: ubuntu-20.04
    name: Test (OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }})
    strategy:
      matrix:
        elixir: ["1.13", "1.12", "1.11", "1.10"]
        # All of the above can use this version. For details see: https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
        otp: [25, 24, 23, 22]
        exclude:
          - { otp: "24", elixir: "1.10" }
          - { otp: "25", elixir: "1.10" }
          - { otp: "25", elixir: "1.11" }
          - { otp: "25", elixir: "1.12" }
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}
      - run: mix deps.get
      - run: mix test

  lint:
    runs-on: ubuntu-20.04
    name: Linting
    strategy:
      matrix:
        elixir: ["1.13"]
        otp: [25]
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}
      - name: PLT cache
        uses: actions/cache@v2
        with:
          key: |
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt
          restore-keys: |
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt
          path: |
            priv/plts
      - run: mix deps.get
      - run: mix compile --warnings-as-errors
      - run: mix format --check-formatted
      - run: mix credo --strict
      - run: mix dialyzer --halt-exit-status
